<!DOCTYPE html>
<html>

	<head>
		<%- include('header.ejs') %>
		<title>Categories</title>
	</head>
	<div class="container">

		<body>
			<% for(var i = 0; i < categoriesLength; i++){ %>
				<h1><a href="/categories/<%= categories[i].id %>"><%= categories[i].name %></a></h1>
				<h1><%- categories[i].c_headerMenuBanner %></h1>
			<% } %>
		</body>
	</div>

</html>