<!DOCTYPE html>
<html>
	<head>
		<%- include('header.ejs'); %>
		<title>Categories</title>
	</head>

	<body>
		<h2><%= product.name %></h2>
		<img src="<%= product.image_groups[0].images[0].link %>">
		<p><%= product.page_description %></p>
		<p>$<%= product.price %></p>
	</body>
</html>