<!DOCTYPE html>
<html>
	<head>
		<%- include('header.ejs'); %>
		<title>Categories</title>

	</head>

	<body style="margin:2%;">
		<div class="container">
			<div class="row">
				<% for(var i = 0; i < products.count; i++){ %>

					<div class="col-md-4 col-sm-12 col-lg-4">
						<a href="/product_show/<%= products.query %>/<%= products['hits'][i].product_id %>"><%= products['hits'][i].product_name %></a>
						<% if(products['hits'][i].image){ %>
							<img src="<%= products['hits'][i].image.link %>" style="width:90%;">
						<% } %>
					</div>
					

				<% } %>
			</div>
			<div class="row">
				<% if(products.next || products.start != 0){ %>
					<% var count = 1; %>
					<% for(var j = 0; j < products.total; j += 25, count++){ %>
						<span><a href="/products/<%= products.query %>/<%= j %>"><%= count %></a></span>
					<% } %>
				<% } %>
			</div>
		</div>
	</body>
</html>