<!DOCTYPE html>
<html>
	<head>
		<%- include('header.ejs'); %>
		<title>Categories</title>
	</head>

	<body style="margin:2%;">
		<div class="container">
			<div class="row">

				<% if(categories['categories']){ %>

					<% for(var i = 0; i < categories['categories'].length; i++){ %>
						<div class="col-md-12 col-sm-12 col-lg-12">
							<% if(!categories['categories'][i].id.includes('newarrivals')){ %>
								<h1><a href="/products/<%= categories['categories'][i].id %>"><%= categories['categories'][i].name %></a></h1>
							<% } else { %>
								<h1><a href="/products/New-Arrivals-<%= categories['categories'][i].name %>"><%= categories['categories'][i].name %></a></h1>
							<% } %>
							<img src="<%= categories['categories'][i].image %>" style="width:100%;">
						</div>
						<% if(categories['categories'][i].categories){ %>

							<% var subCategoriesLength = categories['categories'][i]['categories'].length %>

							<% for(var j = 0; j < subCategoriesLength; j++){ %>
								<div class="col-sm-12 col-md-6">
									<h2><a href="/products/<%= categories['categories'][i]['categories'][j].id %>"><%= categories['categories'][i]['categories'][j].name %></a></h2>
									<img src="<%= categories['categories'][i]['categories'][j].image %>" style="width: 90%;">
								</div>
							<% } %>

						<% } %>

					<% } %>

				<% } else { %>
					<h1><%= categories.name %></h1>
				<% } %>
			</div>
		</div>
	</body>
</html>